-- CreateEnum
CREATE TYPE "Role" AS ENUM ('PLAYER', 'ADMIN');

-- CreateEnum
CREATE TYPE "WithdrawalStatus" AS ENUM ('PENDING', 'PROCESSING', 'PAID', 'REJECTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "TombolaStatus" AS ENUM ('DRAFT', 'LIVE', 'PENDING', 'FINISHED');

-- CreateEnum
CREATE TYPE "DrawStatus" AS ENUM ('PENDING', 'RUNNING', 'FINISHED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "LobbyTier" AS ENUM ('BRONZE', 'SILVER', 'GOLD', 'EMERALD', 'SAPPHIRE', 'RUBY', 'AMETHYST', 'DIAMOND');

-- CreateEnum
CREATE TYPE "LobbyStatus" AS ENUM ('WAITING', 'COUNTDOWN', 'SPINNING', 'RESOLVED', 'CANCELLED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "googleSub" TEXT,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "picture" TEXT,
    "publicName" TEXT,
    "avatarUrl" TEXT,
    "passwordHash" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "age" INTEGER,
    "fullName" TEXT,
    "credits" INTEGER NOT NULL DEFAULT 0,
    "ticketWallet" JSONB,
    "role" "Role" NOT NULL DEFAULT 'PLAYER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tombola" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "prize" TEXT NOT NULL,
    "description" TEXT,
    "status" "TombolaStatus" NOT NULL DEFAULT 'DRAFT',
    "houseCutRatio" DOUBLE PRECISION NOT NULL DEFAULT 0.2,
    "startTime" TIMESTAMP(3),
    "endTime" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Tombola_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ticket" (
    "id" TEXT NOT NULL,
    "number" INTEGER NOT NULL,
    "tombolaId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Ticket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Draw" (
    "id" TEXT NOT NULL,
    "tombolaId" TEXT NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finishedAt" TIMESTAMP(3),
    "status" "DrawStatus" NOT NULL DEFAULT 'PENDING',
    "potSize" INTEGER,
    "houseCutRatio" DOUBLE PRECISION,
    "winnerTicketId" TEXT,
    "winnerUserId" TEXT,
    "winnerPayout" INTEGER,
    "housePayout" INTEGER,

    CONSTRAINT "Draw_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CreditTransaction" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "reason" TEXT NOT NULL,
    "tier" TEXT,
    "meta" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CreditTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FreeAttempt" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "didWin" BOOLEAN NOT NULL DEFAULT false,
    "awardedTier" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FreeAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WithdrawalRequest" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tier" TEXT NOT NULL,
    "amount" INTEGER NOT NULL DEFAULT 1,
    "btcAddress" TEXT,
    "solAddress" TEXT,
    "status" "WithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "adminNotes" TEXT,
    "processedAt" TIMESTAMP(3),
    "processedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WithdrawalRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TierLobby" (
    "id" TEXT NOT NULL,
    "tier" "LobbyTier" NOT NULL,
    "status" "LobbyStatus" NOT NULL DEFAULT 'WAITING',
    "minPlayers" INTEGER NOT NULL DEFAULT 3,
    "maxPlayers" INTEGER NOT NULL DEFAULT 10,
    "baseSpinForce" INTEGER NOT NULL DEFAULT 20,
    "countdownSeconds" INTEGER NOT NULL DEFAULT 8,
    "countdownStartsAt" TIMESTAMP(3),
    "gameStartsAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "cancelledAt" TIMESTAMP(3),
    "cancellationReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TierLobby_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LobbyPlayer" (
    "id" TEXT NOT NULL,
    "lobbyId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "luckyNumber" INTEGER NOT NULL,
    "luckyNumberRevealed" BOOLEAN NOT NULL DEFAULT false,
    "lastLuckyNumberChange" TIMESTAMP(3),
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "leftAt" TIMESTAMP(3),
    "ticketTierUsed" "LobbyTier" NOT NULL,
    "ticketTransactionId" TEXT,
    "refundedTransactionId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "LobbyPlayer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LobbyRound" (
    "id" TEXT NOT NULL,
    "lobbyId" TEXT NOT NULL,
    "spinForceBase" INTEGER NOT NULL,
    "spinForceTotal" INTEGER NOT NULL,
    "spinForceFinal" INTEGER NOT NULL,
    "spinRotationStart" DOUBLE PRECISION,
    "spinRotationEnd" DOUBLE PRECISION,
    "spinTotalDegrees" DOUBLE PRECISION,
    "seed" TEXT,
    "wheelSegments" JSONB,
    "winningSegment" INTEGER,
    "winningNumber" INTEGER,
    "spinStartedAt" TIMESTAMP(3),
    "spinCompletedAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "winningPlayerId" TEXT,

    CONSTRAINT "LobbyRound_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LobbyChatMessage" (
    "id" TEXT NOT NULL,
    "lobbyId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LobbyChatMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GameHistory" (
    "id" TEXT NOT NULL,
    "gameNumber" BIGINT NOT NULL,
    "lobbyId" TEXT,
    "tier" "LobbyTier" NOT NULL,
    "status" "LobbyStatus" NOT NULL,
    "playerCount" INTEGER NOT NULL,
    "minPlayers" INTEGER NOT NULL,
    "maxPlayers" INTEGER NOT NULL,
    "spinForceBase" INTEGER NOT NULL,
    "spinForceTotal" INTEGER NOT NULL,
    "spinForceFinal" INTEGER NOT NULL,
    "spinRotationStart" DOUBLE PRECISION,
    "spinRotationEnd" DOUBLE PRECISION,
    "spinTotalDegrees" DOUBLE PRECISION,
    "winningNumber" INTEGER,
    "winningSegment" INTEGER,
    "seed" TEXT,
    "wheelSegments" JSONB,
    "countdownStartedAt" TIMESTAMP(3),
    "gameStartedAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GameHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GameHistoryPlayer" (
    "id" TEXT NOT NULL,
    "gameHistoryId" TEXT NOT NULL,
    "userId" TEXT,
    "displayName" TEXT,
    "email" TEXT,
    "luckyNumber" INTEGER,
    "ticketTierUsed" "LobbyTier",
    "joinedAt" TIMESTAMP(3),
    "isWinner" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "GameHistoryPlayer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "ipAddress" TEXT NOT NULL,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GameHistoryArchive" (
    "id" TEXT NOT NULL,
    "rangeStart" BIGINT,
    "rangeEnd" BIGINT,
    "gameCount" INTEGER NOT NULL,
    "payload" JSONB NOT NULL,
    "archivedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GameHistoryArchive_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_googleSub_key" ON "User"("googleSub");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Tombola_slug_key" ON "Tombola"("slug");

-- CreateIndex
CREATE INDEX "Ticket_tombolaId_idx" ON "Ticket"("tombolaId");

-- CreateIndex
CREATE INDEX "Ticket_userId_idx" ON "Ticket"("userId");

-- CreateIndex
CREATE INDEX "Ticket_tombolaId_number_idx" ON "Ticket"("tombolaId", "number");

-- CreateIndex
CREATE UNIQUE INDEX "Draw_winnerTicketId_key" ON "Draw"("winnerTicketId");

-- CreateIndex
CREATE INDEX "Draw_tombolaId_idx" ON "Draw"("tombolaId");

-- CreateIndex
CREATE INDEX "CreditTransaction_userId_idx" ON "CreditTransaction"("userId");

-- CreateIndex
CREATE INDEX "CreditTransaction_createdAt_idx" ON "CreditTransaction"("createdAt");

-- CreateIndex
CREATE INDEX "FreeAttempt_userId_idx" ON "FreeAttempt"("userId");

-- CreateIndex
CREATE INDEX "FreeAttempt_userId_createdAt_idx" ON "FreeAttempt"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "WithdrawalRequest_userId_idx" ON "WithdrawalRequest"("userId");

-- CreateIndex
CREATE INDEX "WithdrawalRequest_status_idx" ON "WithdrawalRequest"("status");

-- CreateIndex
CREATE INDEX "WithdrawalRequest_createdAt_idx" ON "WithdrawalRequest"("createdAt");

-- CreateIndex
CREATE INDEX "TierLobby_tier_idx" ON "TierLobby"("tier");

-- CreateIndex
CREATE INDEX "TierLobby_status_idx" ON "TierLobby"("status");

-- CreateIndex
CREATE INDEX "TierLobby_createdAt_idx" ON "TierLobby"("createdAt");

-- CreateIndex
CREATE INDEX "LobbyPlayer_userId_idx" ON "LobbyPlayer"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "LobbyPlayer_lobbyId_userId_key" ON "LobbyPlayer"("lobbyId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "LobbyRound_lobbyId_key" ON "LobbyRound"("lobbyId");

-- CreateIndex
CREATE INDEX "LobbyRound_lobbyId_idx" ON "LobbyRound"("lobbyId");

-- CreateIndex
CREATE INDEX "LobbyRound_createdAt_idx" ON "LobbyRound"("createdAt");

-- CreateIndex
CREATE INDEX "LobbyChatMessage_lobbyId_createdAt_idx" ON "LobbyChatMessage"("lobbyId", "createdAt");

-- CreateIndex
CREATE INDEX "LobbyChatMessage_userId_idx" ON "LobbyChatMessage"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "GameHistory_gameNumber_key" ON "GameHistory"("gameNumber");

-- CreateIndex
CREATE INDEX "GameHistory_gameNumber_idx" ON "GameHistory"("gameNumber");

-- CreateIndex
CREATE INDEX "GameHistory_resolvedAt_idx" ON "GameHistory"("resolvedAt");

-- CreateIndex
CREATE INDEX "UserSession_userId_idx" ON "UserSession"("userId");

-- CreateIndex
CREATE INDEX "UserSession_ipAddress_idx" ON "UserSession"("ipAddress");

-- CreateIndex
CREATE INDEX "UserSession_createdAt_idx" ON "UserSession"("createdAt");

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_tombolaId_fkey" FOREIGN KEY ("tombolaId") REFERENCES "Tombola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Draw" ADD CONSTRAINT "Draw_tombolaId_fkey" FOREIGN KEY ("tombolaId") REFERENCES "Tombola"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Draw" ADD CONSTRAINT "Draw_winnerTicketId_fkey" FOREIGN KEY ("winnerTicketId") REFERENCES "Ticket"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Draw" ADD CONSTRAINT "Draw_winnerUserId_fkey" FOREIGN KEY ("winnerUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditTransaction" ADD CONSTRAINT "CreditTransaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FreeAttempt" ADD CONSTRAINT "FreeAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WithdrawalRequest" ADD CONSTRAINT "WithdrawalRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyPlayer" ADD CONSTRAINT "LobbyPlayer_lobbyId_fkey" FOREIGN KEY ("lobbyId") REFERENCES "TierLobby"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyPlayer" ADD CONSTRAINT "LobbyPlayer_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyRound" ADD CONSTRAINT "LobbyRound_lobbyId_fkey" FOREIGN KEY ("lobbyId") REFERENCES "TierLobby"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyRound" ADD CONSTRAINT "LobbyRound_winningPlayerId_fkey" FOREIGN KEY ("winningPlayerId") REFERENCES "LobbyPlayer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyChatMessage" ADD CONSTRAINT "LobbyChatMessage_lobbyId_fkey" FOREIGN KEY ("lobbyId") REFERENCES "TierLobby"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LobbyChatMessage" ADD CONSTRAINT "LobbyChatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GameHistoryPlayer" ADD CONSTRAINT "GameHistoryPlayer_gameHistoryId_fkey" FOREIGN KEY ("gameHistoryId") REFERENCES "GameHistory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserSession" ADD CONSTRAINT "UserSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

